/*
Additional Styles for Neighborhood Map - FEND
*/

body {
  background-color: #263C3F !important;
}

#map {
 height: 100vh;
}

.sidebar {
  color: #fff;
}

.listColor {
  color: #263C3F !important;
}
